body{
    background-color: #e9e5db !important; 
    font-family: 'Helvetica ', sans-serif;
    
}
* {
    margin: 0;
    padding: 0;
}

a {
    color: #ebebeb !important;
    text-decoration: none;
    transition: 0.3s;
    font-weight: bold;
}


nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, 
    Arial, Helvetica, sans-serif;
    background-color: #243757;
    height: 8vh;
}

.nav-list{
    list-style:none;
    display: flex;
}

.nav-list li {
    letter-spacing: 2px;
    margin-left: 28px;
    font-size: 20px;
}

.mobile-menu {
    cursor: pointer;
    display: none;
}


.Salvar{
    width: 7%; 
    margin: 10px;
    background-color: #243757; 
    color: white; 
    border: none; 
    padding: 10px 1px;
    border-radius: 10px;
    font-size: 16px; 
    font-weight: bold; 
    text-transform: uppercase; 
    cursor: pointer; 
    transition: background-color 0.3s ease, transform 0.2s ease;
    position: absolute;
            left: 90%; /* Coloca o botão 20px da borda esquerda da tela */
            top:  93px
    
      }

.table {
    width: 80%;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    
}
.table th, td {
    padding: 0px;
            text-align: left;
            border-bottom: 0.1px solid #243757;
            
}

th, td {
    text-align: left;
    padding: 20px;
    font-size: 130%;
    width: 18%;
}

.table th {
    background-color: #243757; 
    color: white;
    padding: 5px; 
    text-align: left;
    width: 5%;
}
.container{
    display: flex;
            justify-content: center;
            align-items: center;
            height: 45vh;
}
 h1{
    color: #243757;
    font-size: 45px;
    margin: 10px;
 }

 #editar{
    font-size: 120%;
    cursor: pointer;
    margin-right: 8px;
    
       
 }
 #delete{
    font-size: 120%;
    cursor: pointer;
    
 
 }
table td{
    text-align: left; 
            padding-left: 5px;
            color:#243757;
            
            
}
.td-icones{
    text-align: center;
    width: 7%;
}
.input-busca{
      width: 98%; 
     height: 43px;
     border-radius: 8px; 
     margin: 15px;
}
input::placeholder{
    font-size: 18px;
    padding: 10px;
 
}
#espaco{
    color: #243757;
    width: 5%;
}
.fa-solid {
    cursor: pointer;
    font-size: 25px;
}

.status-tag {
     padding: 5px 10px;
     border-radius: 5px;
     font-weight: bold;
    }
.available {
    background-color: #2da820;
    color: white;
    }

.borrowed {
    background-color: #cf3429;
    color: white;
    }
   